{% extends parent_template|default:"user_navbar.html" %}
{% load static %}
{% block content %}

<!--Main container start -->
<main class="ttr-wrapper">
    <div class="container-fluid">
        <div class="db-breadcrumb">
            <h4 class="breadcrumb-title">Courses</h4>
            <ul class="db-breadcrumb-list">
                <li><a href="#"><i class="fa fa-home"></i>Home</a></li>
                <li>Courses</li>
            </ul>
        </div>  
        <div class="row">
            <!-- Your Profile Views Chart -->
            <div class="col-lg-12 m-b30">
                <div class="widget-box">
                    <div class="wc-title">
                        <h4>Your Courses</h4>
                    </div>
                    <!-- Debugging context -->
                    {% if courses %}
                    <div class="widget-inner text-right p-5">
                        <a href="{% url 'course:course_create' %}" class="btn green radius-xl">Create a Course</a>
                    </div>
                    <div class="widget-inner">
                        {% for course in courses %}
                        <div class="card-courses-list admin-courses">
                            {% if course.cover_image %}
                                <div class="card-courses-media">
                                    <img src="{{ course.cover_image.url }}" alt=""/>
                                </div>
                            {% endif %}
                            <div class="card-courses-full-dec">
                                <div class="card-courses-title">
                                    <a href="{% url "course:course" course.slug %}"><h4>{{ course.name|upper }}</h4></a>
                                </div>
                                <div class="card-courses-list-bx">
                                    <ul class="card-courses-view">
                                        <li class="card-courses-user">
                                            <div class="card-courses-user-pic">
                                                <img src="{% static "asset/images/testimonials/pic3.jpg" %}" alt=""/>
                                            </div>
                                            <div class="card-courses-user-info">
                                                <h5>Teacher</h5>
                                                <h4>{{ course.owner.last_name }} {{ course.owner.first_name }}</h4>
                                            </div>
                                        </li>
                                        <li class="card-courses-categories">
                                            <h5>FACULTY OF</h5>
                                            <h4>{{ course.faculty.name }}</h4>
                                        </li>
                                        <li class="card-courses-review">
                                            <h5>3 Review</h5>
                                        </li>
                                        <li class="card-courses-stats">
                                            <a href="#" class="btn button-sm red radius-xl">YOUR COURSE</a>
                                        </li>
                                        <li class="card-courses-price">
                                            <del>$190</del>
                                            <h5 class="text-primary">$120</h5>
                                        </li>
                                    </ul>
                                </div>
                                <div class="row card-courses-dec">
                                    <div class="col-md-12">
                                        <h6 class="m-b10">Course Description</h6>
                                        {{ course.overview|linebreaks|truncatewords:50 }}
                                    </div>
                                    <div class="col-md-12">
                                        <a href="{% url "course:course_update" course.slug %}" class="btn green radius-xl outline">Edit Course</a>
                                        <a href="{% url "course:course_delete" course.slug %}" class="btn red outline radius-xl">Delete Course</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        
                    </div>
                    {% else %}
                    <div class="widget-inner text-center p-5">
                        <h5>You have not created any courses yet.</h5>
                        <p>Click the button below to create your first course.</p>
                        <a href="{% url 'course:course_create' %}" class="btn green radius-xl">Create a Course</a>
                    </div>
                    {% endif %}
                </div>
            </div>
            <!-- Your Profile Views Chart END-->
        </div>
    </div>
</main>
<div class="ttr-overlay"></div>
{% endblock %}
