{% extends parent_template|default:"user_navbar.html" %}
{% load static %}
{% load course %}
{% block content %}
<main class="ttr-wrapper">
    <!-- Content -->
    <div class="page-content bg-white">
        <!-- inner page banner -->
        <div class="content-block">
            <div class="section-area section-sp1">
                <div class="container">
                    <div class="row">
                        <!-- Left part start -->
                        <div class="col-lg-8 col-xl-8">
                            <!-- blog start -->
                            <div class="recent-news blog-lg">
                                <!-- Display Video or Image Content -->
                                {% for content in contents %}
                                    {% if content.item|model_name == 'video' and content.item.file %}
                                        <div class="action-box blog-lg">
                                            <video controls width="100%" class="rounded">
                                                <source src="{{ content.item.file.url }}" type="video/mp4">
                                                Your browser does not support the video tag.
                                            </video>
                                        </div>
                                    {% elif content.item|model_name == 'image' and content.item.file %}
                                        <div class="action-box blog-lg">
                                            <img src="{{ content.item.file.url }}" alt="{{ content.item.title }}" class="rounded" width="100%">
                                        </div>
                                    {% endif %}
                                    
                                    <!-- Show Delete Button Only to the Owner -->
                                    {% if content.item.owner == user %}
                                        <form method="post" action="{% url 'course:content_delete' content.id %}">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-danger mt-2">Delete</button>
                                        </form>
                                    {% endif %}
                                {% endfor %}
                                <!-- Topic Details -->
                                <div class="info-bx">
                                    <ul class="media-post">
                                        <li><a href="#"><i class="fa fa-calendar"></i>{{ topic.course.created|date:"M j Y" }}</a></li>
                                        <li><a href="#"><i class="fa fa-comments-o"></i>10 Comment</a></li>
                                    </ul>
                                    <h5 class="post-title">{{ topic.name|title }}</h5>
                                    <p>{{ topic.description|linebreaks }}</p>
                                    <div class="ttr-divider bg-gray"><i class="icon-dot c-square"></i></div>

                                    <!-- Content Upload Buttons -->
                                    <div class="col-12">
                                        <h7>CHOOSE A CONTENT TO UPLOAD</h7>
                                    </div>
                                    <br>
                                    <div class="col-lg-8 col-sm-12 col-md-12">
                                        <a href="{% url 'course:topic_content_create' topic.id 'text' %}" class="btn btn-secondary">TEXT</a>
                                        {% if video_count < 1 %}
                                            <a href="{% url 'course:topic_content_create' topic.id 'video' %}" class="btn btn-secondary">VIDEO</a>
                                        {% else %}
                                            <button class="btn btn-disabled" disabled>Video</button>
                                        {% endif %}
                                        <a href="{% url 'course:topic_content_create' topic.id 'image' %}" class="btn btn-secondary">IMAGES</a>
                                        <a href="{% url 'course:topic_content_create' topic.id 'file' %}" class="btn btn-secondary">FILES</a>
                                    </div>
                                    <div class="ttr-divider bg-gray"><i class="icon-dot c-square"></i></div>

                                    <!-- Social Sharing -->
                                    <h6>SHARE</h6>
                                    <ul class="list-inline contact-social-bx">
                                        <li><a href="#" class="btn outline radius-xl"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#" class="btn outline radius-xl"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#" class="btn outline radius-xl"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#" class="btn outline radius-xl"><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                    <div class="ttr-divider bg-gray"><i class="icon-dot c-square"></i></div>
                                </div>
                            </div>

                            <!-- Comments Section -->
                            <div class="clear" id="comment-list">
                                <div class="comments-area" id="comments">
                                    <h2 class="comments-title">8 Comments</h2>
                                    <div class="clearfix m-b20">
                                        <!-- Comment List -->
                                        <ol class="comment-list">
                                            <!-- Example Comment -->
                                            <li class="comment">
                                                <div class="comment-body">
                                                    <div class="comment-author vcard">
                                                        <img class="avatar photo" src="{% static 'assets/images/testimonials/pic1.jpg' %}" alt="">
                                                        <cite class="fn">John Doe</cite>
                                                        <span class="says">says:</span>
                                                    </div>
                                                    <div class="comment-meta">
                                                        <a href="#">December 02, 2019 at 10:45 am</a>
                                                    </div>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vitae neque vitae sapien malesuada aliquet.</p>
                                                    <div class="reply">
                                                        <a href="#" class="comment-reply-link">Reply</a>
                                                    </div>
                                                </div>
                                            </li>
                                            <!-- Repeat for other comments -->
                                        </ol>
                                        <!-- Comment Form -->
                                        <div class="comment-respond" id="respond">
                                            <h4 class="comment-reply-title" id="reply-title">Leave a Reply</h4>
                                            <form class="comment-form" id="commentform" method="post">
                                                <p class="comment-form-author">
                                                    <label for="author">Name <span class="required">*</span></label>
                                                    <input type="text" name="Author" placeholder="Author" id="author">
                                                </p>
                                                <p class="comment-form-email">
                                                    <label for="email">Email <span class="required">*</span></label>
                                                    <input type="text" placeholder="Email" name="email" id="email">
                                                </p>
                                                <p class="comment-form-comment">
                                                    <label for="comment">Comment</label>
                                                    <textarea rows="8" name="comment" placeholder="Comment" id="comment"></textarea>
                                                </p>
                                                <p class="form-submit">
                                                    <input type="submit" value="Submit Comment" class="submit" id="submit" name="submit">
                                                </p>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Left part END -->

                        <!-- Sidebar Start -->
                        <div class="col-lg-4 col-xl-4">
                                <!-- Search Widget -->
                                <!--<div class="widget">
                                    <h6 class="widget-title">Search</h6>
                                    <div class="search-bx style-1">
                                        <form role="search" method="post">
                                            <div class="input-group">
                                                <input name="text" class="form-control" placeholder="Enter your keywords..." type="text">
                                                <span class="input-group-btn">
                                                    <button type="submit" class="fa fa-search text-primary"></button>
                                                </span>
                                            </div>
                                        </form>
                                    </div>
                                </div>-->

                                <!-- Recent Posts Widget -->
                                <div class="widget recent-posts-entry">
                                    <h6 class="widget-title">Topic Contents</h6>
                                    <div class="widget-post-bx">
                                        <!-- Example Post -->
                                        <div class="widget-post clearfix">
                                            {% for content in contents %}
                                                {% if content.item|model_name == 'video' and content.item.file %}
                                                    <h6 class="widget-title">Video</h6>
                                                    <div class="ttr-post-media">
                                                        <video id="myVideo" width="100" height="143">
                                                            <source src="{{ content.item.file.url }}" type="video/mp4">
                                                            Your browser does not support the video tag.
                                                        </video>
                                                        <canvas id="thumbnailCanvas" style="display:none;"></canvas>
                                                        <img id="thumbnail" width="640" height="360">
                                                    </div>
                                                
                                                    <div class="ttr-post-info">
                                                        <div class="ttr-post-header">
                                                            <h6 class="post-title"><a href="blog-details.html">{{ content.item.title }}</a></h6>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% endfor%}
                                        </div>
                                        <!-- Repeat for other posts -->
                                    </div>
                                </div>

                                <!-- Newsletter Widget -->
                                <div class="widget widget-newslatter">
                                    <h6 class="widget-title">Newsletter</h6>
                                    <div class="news-box">
                                        <p>Enter your e-mail and subscribe to our newsletter.</p>
                                        <form class="subscription-form" action="#" method="post">
                                            <div class="input-group">
                                                <input name="dzEmail" required="required" type="email" class="form-control" placeholder="Your Email Address">
                                                <button name="submit" value="Submit" type="submit" class="btn black radius-no">
                                                    <i class="fa fa-paper-plane-o"></i>
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                                <!-- Gallery Widget -->
                                <div class="widget widget_gallery gallery-grid-4">
                                    <h6 class="widget-title">Our Gallery</h6>
                                    <ul>
                                        <li><div><a href="#"><img src="{% static 'assets/images/gallery/pic2.jpg' %}" alt=""></a></div></li>
                                        <!-- Repeat for other gallery items -->
                                    </ul>
                                </div>

                                <!-- Tags Widget -->
                                <div class="widget widget_tag_cloud">
                                    <h6 class="widget-title">Tags</h6>
                                    <div class="tagcloud">
                                        <a href="#">Design</a>
                                        <a href="#">User interface</a>
                                        <a href="#">SEO</a>
                                        <!-- Repeat for other tags -->
                                    </div>
                                </div>
                        </div>
                        <!-- Sidebar END -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Content END -->
</main>
{% endblock %}